$cream : #DDDCCE;
$bluePale : #A6BAC5;
$aquaPale : #7EA5A9;
$blueFrog : #5585BC;
$blackFrog : #1A1924;
$white : #fff;

html,body, #root{	
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	
	// background: $aquaPale;
}

.modal-open{
	overflow: hidden;
	position: relative;
	padding-right: 17px !important;
	width: 100%;
	@media only screen and (min-width: 320px) and (max-width: 479px){  
		padding-right: 0;
	}
}



.App{
	overflow-y: auto;
	width: 960px;
	margin: 0 auto;
	padding-top:60px;	

	a{
		text-decoration: none;
		color: #1A1924;
		
		&:hover,&:visited{
			text-decoration: none;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 991px){  
		width: 735px;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 100%;
	}

	@media only screen and (min-width: 480px) and (max-width: 767px){  
		width: 480px;
	}
}


.err-404{
	font-size: 2em;
	margin: 15px;
	text-align: center;
	width:930;
}

.err-symbol{
	font-size: 4em;
	color:#ccc;
	
}

.err-text{
	margin: 0 !important;
	padding: 0 !important;
}


.button{
	color:$white;
	border: 1px solid #ccc;
	color: #000;
	width: auto;
	height: 30px;
	// padding: 0 10px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	&:hover{
		background: #e2e1e1;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 100%;
	}
}

.button-block{
	width: 100%;
}

.button-primary{
	background: $aquaPale;
	color:$white;
	border: 1px solid $aquaPale;
	&:hover{
		background: #6d8e92;
	}

	
}
// NAVIGATION
.nav{
	width: 100%;
	height: 50px;
	background: $aquaPale;
	display: block;
	line-height: 50px;
	position: fixed;
	z-index: 3;
	border-bottom: 1.5px solid #6c8d91;
	// -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.43);
// -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.43);
// box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.43);

	ul{
		padding: 0;
		margin: 0;
		li{
			list-style-type: none;
			display: inline-block;
			color: $white;
			margin: 0;
			padding: 0;
			line-height: 50px;
			// a
			a{
				padding: 0 20px;
				line-height: 50px !important;
				display: inline-block;

				overflow: hidden;


				&:visited,&:link{
					text-decoration: none;
					color: $white;
				}

				&:hover{
					background: #6c8d91;
					color: $white;
				}
			}
		}
	}

	.left{
		margin-left: 20px;
		float: left;
		font-weight: bold !important;
	}

	.right{
		float: right;
	}

	.nav-items{
		width: 960px;
		display: block;
		margin: 0 auto;

		@media only screen and (min-width: 320px) and (max-width: 479px){  
			width: 100%;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px){  
			width: 735px;
		}
	
		@media only screen and (min-width: 480px) and (max-width: 767px){  
			width: 480px;
		}

	}
}

.badge{
	width: 15px;
	height: 15px;
	position: absolute;
	left:10px;
	top:10px;
	line-height: 15px;
	font-size: .7em;
	color:$white;
	background:#cc3b3b;
	border-radius:30px;
	text-align: center;
	display: inline-block;
}

.nav-cart-open{
	position: relative;	
	border: none;
	background: transparent;
	overflow: hidden;

	&:hover,&:focus{
		text-decoration: none;
	}

	& > *{
		pointer-events: none;
	}
}


.button-product-details{
	position: fixed;
	bottom: 0;
	left: 0;
	background: red;
	display: block;
	width: 100%;
}
