$cream : #DDDCCE;
$bluePale : #A6BAC5;
$aquaPale : #7EA5A9;
$blueFrog : #5585BC;
$blackFrog : #1A1924;
$white : #fff;

html,body{	
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	// background: $aquaPale;
}

.modal-open{
	overflow: hidden;
	position: relative;
	// padding-right: 17px;
	width: 100%;
	@media only screen and (min-width: 320px) and (max-width: 479px){  
		padding-right: 0;
	}
}



.App{
	overflow-y: auto;
	width: 960px;
	margin: 0 auto;
	padding-top:60px;	

	a{
		text-decoration: none;
		color: #1A1924;
		
		&:hover,&:visited{
			text-decoration: none;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 991px){  
		width: 735px;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 100%;
	}

	@media only screen and (min-width: 480px) and (max-width: 767px){  
		width: 480px;
	}
}

.pagination{
	width: 960px;
	margin: 0 auto 20px auto;
	text-align: center;

	ul {
		padding: 0;
		margin: 0;

		& li {
			display: inline-block;
			padding: 5px;
			background: #5585BC;
			width: 20px;
			height: 20px;
		}
	}
}

.search-bar{
	padding: 0 15px;
	position: relative;
	overflow: hidden;
	width: 930px;
	input{
		border: 1px solid #ccc;
		width: 908px;
		padding: 10px;
		font-weight: bold;
		border-radius: 5px;
		// padding: 10px;
		// font-size: 1.4em;
	}

	// @media only screen and (min-width: 768px) and (max-width: 991px){  
	// 	width: 735px;
	// }

	// @media only screen and (min-width: 320px) and (max-width: 479px){  
	// 	width: 100%;
	// }

	// @media only screen and (min-width: 480px) and (max-width: 767px){  
	// 	width: 480px;
	// }

	
}

.item{
	width: 198px;
	float: left;
	border: 1px solid #ccc;
	overflow: hidden;
	margin: 15px;
	padding: 5px;
	border-radius: 5px;

	a{
		font-size: 1.2em;
		display: block;

		transition: color .1s linear;
		&:hover{
			color: $aquaPale
		}
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 92%;
		float: none;
		margin: 2%;
		padding: 2%;

	}

	@media only screen and (min-width: 480px) and (max-width: 767px){  
		max-width: 198px;
		float: left;
	}
	
	.image{
		display: block;
		width:auto;
		height:198px;
		overflow: hidden;
		background: $cream;
		cursor: pointer;
		&:before{
			position: absolute;
			content: "200 x 200";
			width: 198px;
			height: 198px;
			background: #ccc;
			text-align: center;
			line-height: 198px;
			@media only screen and (min-width: 320px) and (max-width: 479px){  
				// max-width: 96%;
				width: 92%;
			}

		}

		@media only screen and (min-width: 320px) and (max-width: 479px){  
			width: 100%;
			height: auto;
		}
	}

}

.name{
	width: inherit;
	font-size: .8em;
	height: 45px;
	padding: 5px 0;
	font-weight: bold;
}

.price{
	font-size: .8em;
	font-weight: bold;
	width: inherit;
	padding: 5px 0;
	height: 30px;

	&:before{
		content: "\0024";
		margin-left:3px;
		font-size: 1.4em;

	}
	& > span {
		font-size: 1.4em;
	}
	& > span + span {
		font-size: .9em;
	}
}
.button{
	color:$white;
	border: 1px solid #ccc;
	color: #000;
	width: auto;
	height: 30px;
	// padding: 0 10px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	&:hover{
		background: #e2e1e1;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 100%;
	}
}

.button-block{
	width: 100%;
}

.button-primary{
	background: $aquaPale;
	color:$white;
	border: 1px solid $aquaPale;
	&:hover{
		background: #6d8e92;
	}

	
}
// NAVIGATION
.nav{
	width: 100%;
	height: 50px;
	background: $aquaPale;
	display: block;
	line-height: 50px;
	position: fixed;
	z-index: 3;
	border-bottom: 1px solid #b3b3b3;

	ul{
		padding: 0;
		margin: 0;
		li{
			list-style-type: none;
			display: inline-block;
			color: $white;
			margin: 0;
			padding: 0;
			line-height: 50px;
			// a
			a{
				padding: 0 20px;
				line-height: 50px !important;
				display: inline-block;

				overflow: hidden;


				&:visited,&:link{
					text-decoration: none;
					color: $white;
				}

				&:hover{
					background: $aquaPale;
					color: $white;
				}
			}
		}
	}

	.left{
		margin-left: 20px;
		float: left;
		font-weight: bold !important;
	}

	.right{
		float: right;
	}

	.nav-items{
		width: 960px;
		display: block;
		margin: 0 auto;

		@media only screen and (min-width: 320px) and (max-width: 479px){  
			width: 100%;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px){  
			width: 735px;
		}
	
		@media only screen and (min-width: 480px) and (max-width: 767px){  
			width: 480px;
		}

	}
}

.badge{
	width: 15px;
	height: 15px;
	position: absolute;
	left:10px;
	top:10px;
	line-height: 15px;
	font-size: .7em;
	color:$white;
	background:#cc3b3b;
	border-radius:30px;
	text-align: center;
	display: inline-block;
}

.nav-cart-open{
	position: relative;	
	border: none;
	background: transparent;
	overflow: hidden;

	&:hover,&:focus{
		text-decoration: none;
	}

	& > *{
		pointer-events: none;
	}
}

// CART
.cart-overlay{
	display: none;
}
.cart-overlay-show{
	display: block;
	opacity: .5;

}

.cart-in{
	right: 0 !important;
}
.cart-show{
	transition: right .2s ease-in;
	display: block !important;
	@media only screen and (min-width: 320px) and (max-width: 479px){  
		right: 100%;
	}
}

.cart{
	width: 300px;
	// height: 100%;
	background: $white;
	z-index: 1000;
	position: fixed;
	display: none;
	top: 0;
	right: -300px;
	height: 100%;
	// overflow-x: auto;

	header,footer{
		height: 50px;
		width: 100%;
		// background: #A6BAC5;
	}
	header{
		border-bottom: 1px solid #ccc;

		.cart-close{
			float: right;
			top: 0;
			right: 0;
			border:none;
			height: 50px;			
			width: 50px;			
			font-size: 2em;
			color:#ccc;
			background: $white;
			cursor: pointer;
		}
	}

	article{
		height: auto;
		width: 100%;
		// background: #7EA5A9;
		overflow-x: auto;
		position: absolute;
		top: 50px;
		bottom: 50px;
	}

	footer{
		position: absolute;
		bottom: 0;
		left: 0;
		background: red;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		max-width: 100%;
		width: 100%;
		right: -100%;
	}
}

.cart-overlay{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	background: $blackFrog;
	opacity: .5;
	z-index: 999;
	padding-right:17px;
	transition: opacity 1s linear;
}

.cart-list{
	padding: 10px;
	// margin-bottom: 100px;
	// max-height: 100%;
	// overflow: auto;
}

.cart-item{
	height: 25px;
	font-size: .8em;
	font-weight: bold;	
}

.cart-item-name{
	float: left;
	margin-right:10px;
}

.cart-price{
	float: right;
}

.cart-delete-btn{
	background: #bd6c6c;
	border: none;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	text-align: center;
	color:$white;
	line-height: 20px;
	font-size: .8em;

	&:hover{
		background: #b95858;
		cursor: pointer;

	}
}
// CUSTOM BUTTON
.button-checkout{
	border-radius: 0;
	height: 50px;
	background: $blueFrog;
	font-size: 1.5em
}

.button-product-details{
	position: fixed;
	bottom: 0;
	left: 0;
	background: red;
	display: block;
	width: 100%;
}
.button-modal-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	border: 2px solid $white;
	color: $blackFrog;
	background: $white;
	text-align: center;
	line-height: 30px;
	z-index: 1001;
	cursor: pointer;
}

.detail-header{
	height: 30px;
	position: relative;
	padding-top: 10px;
}

.detail-body{
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	background: $white;
	position: relative;

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		margin: 10px 0;
	}
}

.product-images{
	// min-width: 600px;
	min-height: 570px;
	max-width: 570px;
	max-height: 570px;
	height: 570px;
	width: auto;
	overflow: hidden;
	float: left;
	display: block;
	border-radius: 5px;


	img{
		// max-width: inherit;
		// min-width: inherit;
		min-height:inherit;

		@media only screen and (min-width: 320px) and (max-width: 479px){  
			max-width: 100%;
		}
		
		@media only screen and (min-width: 768px) and (max-width: 991px){  
			min-height: 400px;
			max-width: 400px;
			height: 400px;
			width: auto;
		}
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 100%;
		min-height: 320px;
		height: 320px;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px){  
		min-height: 400px;
		max-width: 400px;
		height: 400px;
		width: auto;
	}
}

.call-to-action{
	display: block;
	float: right;
	width: 280px;
	padding: 10px;

	.product-price{
		font-size: 1.5em;
		font-weight: bold;
		color: orangered;
	}

	.product-unit{
		font-size: .8em;
		color:#000;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 100%;
		padding: 10px 0;
		float: none;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px){  
		width: 160px;
		padding: 10px;
	}
}
.description{
	font-size: 1em;
	border: solid .5px #ccc;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

	ul{
		padding: 30px;
		margin: 0 auto;
	}

	.header{
		padding: 10px;
		display: block;
		width: 100%;
		border-bottom: solid .5px #ccc;
		font-weight: bold;
	}

	.body{
		// padding: 15px;
		display: block;
		width: 100%;
		padding: 5px;
	}
}
.product-details{
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: 0 auto;
	overflow: auto;
	z-index: 1001;
	width: 900px;

	@media only screen and (min-width: 768px) and (max-width: 991px){  
		width: 600px;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px){  
		width: 95%;
		// top: 10px;

		padding: 0 ;

	}
	
}

.title{
	padding: 0;
	margin: 0;
	font-size: 1.2em
}

// loading

.loading{
	display: block;
	margin: auto auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	
}

.loading-background{
	padding: 50px;
	background: $white;
	border-radius: 10px;
	position: fixed;
	margin: auto auto;

	max-width: 76px;
	max-height: 76px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;
}