$cream : #DDDCCE;
$bluePale : #A6BAC5;
$aquaPale : #7EA5A9;
$blueFrog : #5585BC;
$blackFrog : #1A1924;

html,body{	
	height: 100%;
}

body{
	min-height: 100%;
	background: $cream;
	overflow: hidden;
}

.App{
	display: block;
	width: 520px;
	height: 100%;
	margin: 0 auto;

	h1,p{
		color: #fff;		
		text-align: center
	}

	h1{
		font-size: 3em;
	}
	p{
		color: rgb(194, 193, 179);
	}
	
	header{
		display: block;
	}

	article{
		display: block;
		width: 960px;
	}
}

.button {
	padding: 20px 30px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	background: $aquaPale;
	width: 100px;
	display: inline-block;
	cursor: pointer;
	margin-right: 20px;	
	color: $cream;

	&:hover{
		background: $blueFrog;
	}
}

.button:nth-last-child(1){
	margin-right:0;
}

.overlay{
	background: #fff;
	opacity: .5;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.modal-overlay{
	display: block;
}



.content{
	display: none;
	background: $bluePale;
	width: 95%;
	min-height: 400px;
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	margin: 0 auto;
	border-radius: 3px;
	overflow: hidden;
	z-index: 2;

	.close{
		position: absolute;
		right: 0;
		top: 0;
		background: $cream;
		border: 2px solid $bluePale;
		border-radius: 15px;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		font-size: 1em;

		&:before{
			content: 'x';
			position: absolute;
			top: -2px;
			right:9px;

		}
	}

	@media only screen and (min-width: 992px) and (max-width: 1999px){  
		
	}

}




.content-header{
	height: 40px;
	background: #ccc;
}

.content-body{
	min-height: 400px;
	height: auto;
	background: #ccc;
}

.content-show{
	display: block;
}

// POS
.pos-content{
	background: $bluePale;
}

.left{
	width: 33%;
	float: left;
	overflow: hidden;
	padding: 1%;

	.body{
		table{
			width: 100%;
			th{
				font-size: .7em;
			}
		}
	}
}

.right{
	width:63%;
	float: right;
	overflow: hidden;
	padding: 1%;
}

// GLOBAL MEDIA QUERIES
@media only screen and (min-width: 320px) and (max-width: 479px){  }

@media only screen and (min-width: 480px) and (max-width: 767px){  }

@media only screen and (min-width: 768px) and (max-width: 991px){ 
	
}

@media only screen and (min-width: 992px) and (max-width: 1999px){  

}