$cream : #DDDCCE;
$bluePale : #A6BAC5;
$aquaPale : #7EA5A9;
$blueFrog : #5585BC;
$blackFrog : #1A1924;

// html,body{	
// 	height: 100%;
// }

body{
	min-height: 100%;
	// background: $aquaPale;
}

.App{
	overflow-y: auto;
	width: 960px;
	margin: 0 auto;
}

.item{
	max-width: 198px;
	float: left;
	border: 1px solid #ccc;
	overflow: hidden;
	margin: 20px;
	
	.image{
		display: block;
		width:auto;
		height:198px;
		overflow: hidden;
		background: $cream;
		&:before{
			position: absolute;
			content: "200 x 200";
			width: 198px;
			height: 198px;
			background: #ccc;
			text-align: center;
			line-height: 198px;
		}
	}

}

.name{
	width: inherit;
	font-size: .8em;
	height: 45px;
	padding: 5px;
	font-weight: bold;
}

.price{
	font-size: .8em;
	font-weight: bold;
	width: inherit;
	padding: 5px;
	height: 30px;

	&:before{
		content: "\0024";
		margin-left:3px;
	}
}

.add-to-cart{
	background: $aquaPale;
	color:$cream;
	border: none;
	width: 188px;
	height: 30px;
	padding: 5px;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	&:hover{
		background: #6d8e92;
	}
}