body {
  min-height: 100%;
}

.modal-open {
  overflow: hidden;
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .modal-open {
    padding-right: 0;
  }
}

.App {
  overflow-y: auto;
  width: 960px;
  margin: 0 auto;
  padding-top: 60px;
}
.App a {
  text-decoration: none;
  color: #1A1924;
}
.App a:hover, .App a:visited {
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .App {
    width: 735px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .App {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .App {
    width: 480px;
  }
}

.search-bar {
  width: 100%;
}
.search-bar input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 910px;
  margin: 15px;
}

.item {
  width: 198px;
  float: left;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 15px;
  padding: 5px;
}
.item a {
  display: block;
  transition: color 0.1s linear;
}
.item a:hover {
  color: #7EA5A9;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .item {
    margin: 2%;
    max-width: 96%;
    width: 96%;
    float: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .item {
    max-width: 198px;
    float: left;
  }
}
.item .image {
  display: block;
  width: auto;
  height: 198px;
  overflow: hidden;
  background: #DDDCCE;
}
.item .image:before {
  position: absolute;
  content: "200 x 200";
  width: 198px;
  height: 198px;
  background: #ccc;
  text-align: center;
  line-height: 198px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .item .image:before {
    max-width: 96%;
    width: 96%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .item .image {
    max-width: 100%;
    width: 100%;
  }
}

.name {
  width: inherit;
  font-size: 0.8em;
  height: 45px;
  padding: 5px;
  font-weight: bold;
}

.price {
  font-size: 0.8em;
  font-weight: bold;
  width: inherit;
  padding: 5px;
  height: 30px;
}
.price:before {
  content: "$";
  margin-left: 3px;
}

.button {
  color: #fff;
  border: 1px solid #ccc;
  color: #000;
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background: #e2e1e1;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .button {
    max-width: 100%;
    width: 98%;
  }
}

.button-block {
  width: 100%;
}

.button-primary {
  background: #7EA5A9;
  color: #fff;
  border: 1px solid #7EA5A9;
}
.button-primary:hover {
  background: #6d8e92;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .button-primary {
    max-width: 100%;
    width: 98%;
  }
}

.nav {
  width: 100%;
  height: 50px;
  background: #ccc;
  display: block;
  line-height: 50px;
  position: fixed;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul li {
  list-style-type: none;
  display: inline;
  color: #1A1924;
  margin: 0;
  padding: 0;
}
.nav ul li a {
  padding: 15px 20px;
  line-height: 50px !important;
}
.nav ul li a:visited, .nav ul li a:link {
  text-decoration: none;
  color: #1A1924;
}
.nav ul li a:hover {
  background: #7EA5A9;
  color: #DDDCCE;
}
.nav .left {
  margin-left: 20px;
  float: left;
  font-weight: bold !important;
}
.nav .right {
  float: right;
}

.badge {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 10px;
  line-height: 15px;
  font-size: 0.7em;
  color: #fff;
  background: #cc3b3b;
  border-radius: 30px;
  text-align: center;
}

.nav-cart-open {
  position: relative;
  border: none;
  background: transparent;
}
.nav-cart-open:hover, .nav-cart-open:focus {
  text-decoration: none;
}
.nav-cart-open > * {
  pointer-events: none;
}

.cart-overlay {
  display: none;
}

.cart-overlay-show {
  display: block;
  opacity: 0.5;
}

.cart-in {
  right: 0 !important;
}

.cart-show {
  right: -300px;
  transition: right 0.2s ease-in;
  display: block !important;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .cart-show {
    right: 100%;
  }
}

.cart {
  width: 300px;
  min-height: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  position: fixed;
  display: none;
}
.cart header, .cart footer {
  height: 50px;
  width: 100%;
}
.cart header {
  border-bottom: 1px solid #ccc;
}
.cart header .cart-close {
  float: right;
  top: 0;
  right: 0;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 2em;
  color: #ccc;
  background: #fff;
}
.cart article {
  height: 100%;
  width: 100%;
}
.cart footer {
  position: fixed;
  bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .cart {
    max-width: 100%;
    width: 100%;
    right: -100%;
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  background: #1A1924;
  opacity: 0.5;
  z-index: 999;
  padding-right: 17px;
  transition: opacity 1s linear;
}

.cart-list {
  padding: 10px;
}

.cart-item {
  height: 25px;
  font-size: 0.8em;
  font-weight: bold;
}

.cart-item-name {
  float: left;
  margin-right: 10px;
}

.cart-price {
  float: right;
}

.cart-delete-btn {
  background: #bd6c6c;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  line-height: 20px;
  font-size: 0.8em;
}
.cart-delete-btn:hover {
  background: #b95858;
  cursor: pointer;
}

.button-product-details {
  position: fixed;
  bottom: 0;
  left: 0;
  background: red;
  display: block;
  width: 100%;
}

.detail-body {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}

.product-images {
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  height: auto;
  overflow: hidden;
  float: left;
  display: block;
  border-radius: 5px;
}
.product-images img {
  max-width: inherit;
  min-width: inherit;
  min-height: inherit;
}

.call-to-action {
  display: block;
  float: right;
  width: 320px;
  padding: 10px;
}
.call-to-action .product-price {
  font-size: 1.5em;
  font-weight: bold;
  color: orangered;
}
.call-to-action .product-unit {
  font-size: 0.8em;
  color: #000;
}

.description {
  font-size: 1em;
}

.product-details {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 0 auto;
  overflow: auto;
  z-index: 1001;
  width: 960px;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.loading {
  display: block;
  margin: auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.loading-background {
  padding: 50px;
  background: #fff;
  border-radius: 10px;
  position: fixed;
  margin: auto auto;
  max-width: 76px;
  max-height: 76px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

/*# sourceMappingURL=App.css.map */
